* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:ital@1&family=Ubuntu&display=swap");
