.store-wrapper {
  background-color: rgb(251, 234, 229);
  display: flex;
}
.pruebitaFlex {
  justify-content: flex-start;
  padding-left: 30px;
}
.arrozconpollito{
  width: 85%;
}
.arrozconfiltros{
  width: 15%;
}