.principalContainer {
  display: flex;
  margin-left: 20px;
}
.containersvg {
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.bi-person-fill {
  font-size: 2rem;
  color: white;
}
.bi-heart {
  font-size: 1.5rem;
  color: white;
}
.prueba img {
  border-radius: 50%;
  width: 50px;
}
.bi-minecart {
  margin-left: 20px;
  font-size: 1.4rem;
  color: white;
}
.prueba {
  width: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.prueba p {
  margin-left: 10px;
  margin-top: 11px;
}
.notification-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  margin-right: 5px;
  display: flex;
  align-items: center;
}
